@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");

@import "tailwindcss";

@theme {
  --font-display: "Pretendard", sans-serif;

  /* Color tokens */
  --color-background: #F4F7FA;
  --color-header-text: #FF5894;
  --color-click: #00274A;
  --color-dropdown: #9197B3;

  --color-gray-light: #EAEAEA;
  --color-gray-medium: #BFBFBF;
  --color-gray-dark: #828282;

  --color-badge-black: #5C5C5C;

  --color-pipeline-chance: #FFD586;
  --color-pipeline-list-up: #FFA486;
  --color-pipeline-proposal: #F2A1DB;
  --color-pipeline-quotation: #FF787D;
  --color-pipeline-negotiation: #83D4FF;
  --color-pipeline-contract: #D57EEB;
  --color-pipeline-aftercare: #A18CD1;

  --color-request: #3E7BFF;
  --color-complete: #2ECE36;
  --color-reject: #FF6D6D;
  --color-onhold: #FFD000;

  --color-btn-yellow: #FFD000;
  --color-btn-sky: #A3D8FF;
  --color-btn-blue: #BAC9FF;
  --color-btn-gray: #A8C1DA;

  --color-gender-male: #A2C9F4;
  --color-gender-female: #F6A6B2;
  --color-graph-bar: #5F38E9;
  --color-graph-line: #328E6F;

  --color-opinion-circle: #FF6E64;

  /* Font size tokens */
  --text-sm: 16px;
  --text-md: 18px;
  --text-lg: 20px;
  --text-btn: 20px;

  /* Font weight tokens */
  --font-regular: 400;
  --font-medium: 500;
  --font-semibold: 600;
  --font-bold: 700;

  --radius-badge: 4px;

  /* Spacing tokens */
  --spacing-btn-width: 461px;
  --spacing-btn-height: 56px;
  --spacing-input-height: 44px;
  --spacing-btn-radius: 4px;

  /* Box shadow tokens */
  --box-shadow-inner: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  --box-shadow-drop: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

@layer components {
  .container {
    @apply px-12 py-8 rounded-2xl bg-white flex-1;
    box-shadow: 0px 4px 20px rgba(124, 124, 124, 0.25);
  }

  /* 카드 목록 */
  .cardLists {
    @apply w-full border border-gray-medium rounded-xl bg-white shadow-sm p-5 hover:bg-gray-100 transition-colors duration-200
  }

  .card-style {
    @apply w-[631px] h-[526px] px-12 pt-7 pb-4 rounded-[24px] bg-white;
    box-shadow: 0px 4px 20px rgba(124, 124, 124, 0.25);
  }

  /* === 버튼 === */
  /* 등록 버튼*/
  .btn-create {
    @apply px-4 py-2 mr-2 bg-btn-gray text-white rounded-lg hover:brightness-95 active:brightness-90 transition
  }

  /* 삭제 버튼 */
  .btn-delete {
    @apply px-4 py-2 bg-gray-medium text-white rounded-lg hover:brightness-95 active:brightness-90 transition
  }

  /* 수정 버튼 */
  .btn-edit {
    @apply px-4 py-2 mr-2 bg-btn-gray text-white rounded-lg hover:brightness-95 active:brightness-90 transition
  }

  /* === 페이지 상단 타이틀 === */
  /* 페이지 상단 감싸는 div */
  .page-header {
    @apply flex items-center justify-between mb-5
  }

  /* 페이지 제목 */
  .page-title {
    @apply text-lg font-bold text-black
  }

  /* 페이지 제목 밑에 선 */
  .blue-line {
    @apply h-[2.5px] bg-btn-blue mb-10 w-full
  }

  /* 페이지 제목 옆에 검색 결과 개수 */
  .cnt-search {
    @apply text-sm font-normal text-gray-medium
  }

  /* === FORM === */
  /* 폼 라벨 */
  .input-form-label {
    @apply text-sm text-gray-dark font-semibold
  }

  /* 폼 input box*/
  .input-form-box {
    @apply w-full px-3 py-2 rounded-sm border border-gray-dark hover:border-black focus:border-black;
  }

  /* === Dashboard === */
  /* 그래프 영역 */
  .dashboard-section {
    @apply bg-white rounded-2xl shadow p-7 px-6 mb-10 items-center justify-center
  }

  /* 그래프 제목 */
  .dashboard-title {
    @apply font-bold text-lg mb-4
  }
  /* === 사이드 바 === */
  .custom-sidebar {
    @apply sticky top-10 w-[304px] h-[630px] bg-white rounded-2xl p-6 mr-8;
    box-shadow: 0px 4px 20px rgba(124, 124, 124, 0.25);
  }

  .btn-icon {
    @apply flex items-center gap-2 px-4 py-2 rounded-md text-white font-medium text-sm shadow;
    background-color: var(--color-btn-blue);
    transition: background-color 0.2s;
  }

  .btn-icon:hover {
    background-color: #a8b9f8; /* hover 시 조금 밝게 */
  }

}
